@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/nunito-v20-latin_cyrillic-300.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/nunito-v20-latin_cyrillic-600.woff") format("woff");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("../fonts/nunito-v20-latin_cyrillic-900.woff2") format("woff2"),
    url("../fonts/nunito-v20-latin_cyrillic-900.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
}

body {
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

.body__scrollbar-hidden {
  overflow: hidden;
  margin-right: 15px;
  background-color: rgba(0, 0, 0, 0.95);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgba(37, 37, 37, 0.95);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.95);
  background-color: rgb(142, 142, 143);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1100px;
  padding: 10px 25px;
  margin: 0 auto;
  background-color: #fff;
}

.gallery-name {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 10px;
  width: 100%;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(231, 93, 1);
}

.gallery-name_icon {
  margin-right: 7px;
  color: rgb(75, 176, 254);
}

.header__search-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(247, 245, 245);
}

.search__input {
  min-width: 110px;
  width: 100%;
  margin-left: auto;
  height: 30px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 0 10px;
  margin-right: 5px;
  background-color: rgb(247, 245, 245);
  color: rgb(83, 83, 83);
  transition: background-color 0.2s ease-in-out;
}

.search__input::placeholder {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:focus {
  background-color: rgb(255, 255, 255);
}

.search__clear-button {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
  opacity: 0;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.visible {
  opacity: 1;
}

.search__clear-button-svg {
  width: 20px;
  height: 20px;
  color: rgb(75, 176, 254);
  transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.search__clear-button-svg:hover {
  color: rgb(11, 103, 184);
}

.search__clear-button-svg:active {
  transform: scale(0.9);
}

.search__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.search__button-svg {
  width: 20px;
  height: 20px;
  color: rgb(75, 176, 254);
  transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.search__button-svg:hover {
  color: rgb(11, 103, 184);
}

.search__button-svg:active {
  transform: scale(0.9);
}

.main {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 1100px;
  padding: 20px;
  margin: 0 auto;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.card__image-wrapper {
  max-width: 320px;
  max-height: 220px;
  border-radius: 5px;
  overflow: hidden;
}

.card__image {
  cursor: pointer;
  border-radius: 5px;
  max-width: 320px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.card__image:hover{
  transform: scale(1.2);
}

.popup__overlay {
position: fixed;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 20;
top: 0;
right: 0;
bottom: 0;
left: 0;
opacity: 0;
padding-right: 0;
background-color: rgba(0, 0, 0, 0.95);
transition: opacity 0.4s ease-in-out;
}

.popup__visible {
  opacity: 1;
  margin-right: 14.5px;
}

.popup__image{
  position: relative;
  z-index: 22;
  max-width: 97vw;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid #fff;
}

.popup__close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 21;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  transition: opacity 0.2s ease-in-out;
}

.popup__clear-button-svg {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.popup__clear-button-svg:hover {
  color: rgb(75, 176, 254);
}

.popup__clear-button-svg:active {
  transform: scale(0.9);
}

.popup__description {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 21;
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-bottom: 4px;
  transform: translateX(-50%);
  color: #fff;
}

.description__author {
  padding: 0 40px;
}

.description__full-text {
  padding: 0 40px;
}

.description__full-size {
  color: rgb(11, 103, 184);
  cursor: pointer;
  display: inline-block;
  transform: scale(1);
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.description__full-size:hover {
  color: rgb(75, 176, 254);
}

.description__full-size:active {
  transform: scale(0.9);
}

@media (max-width: 768px) {
  .card__image:hover{
    transform: none;
  }
}

@media (max-width: 350px) {
  .search__clear-button {
    right: 35px;
  }
  .main {
    padding: 20px 0;
  }
}

.footer {
  max-width: 1100px;
  padding: 20px;
  margin: 0 auto;
}

.footer__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.footer__item {
font-weight: 600;
}

.item-github {
  color: rgb(3, 3, 177);
  transition: color 0.3s ease-in-out;
}

.item-github:hover {
  color: rgb(238, 40, 179);
}

.item-data {
  color: rgb(3, 3, 177);
}

.item-rsschool {
  text-transform: capitalize;
  color: rgb(3, 3, 177);
  transition: color 0.3s ease-in-out;
}

.item-rsschool:hover {
  color: rgb(238, 40, 179);
}